Box2D==2.3.2
gym==0.26.2
gymnasium==0.29.0
numpy==1.26.4
cloudpickle==2.2.1
gym-notices==0.0.8
moviepy==1.0.3
decorator==4.4.2
tqdm==4.66.4
proglog==0.1.10
imageio==2.33.1
imageio_ffmpeg==0.5.1
pillow==9.5.0
setuptools==69.0.3
requests==2.32.3
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
urllib3==1.26.18
ffmpeg==1.4
pyvirtualdisplay==3.0
pygame==2.1.0
farama-notifications==0.0.4
